VITE_API_BASE_URL=http://localhost:3000/api/v1
VITE_SUPABASE_URL=https://khvuwcwdjuofdcidfaoq.supabase.co  
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtodnV3Y3dkanVvZmRjaWRmYW9xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI0NDE0MjIsImV4cCI6MjA4ODAxNzQyMn0.8qNym8Q3fg20VzEeqmG83FmarJWbsWfNA4cQdMtUWnE
VITE_SUPABASE_FIGHTER_IMAGES=https://khvuwcwdjuofdcidfaoq.supabase.co/storage/v1/object/public/fighter-images/
VITE_SUPABASE_DONOR_IMAGES=https://khvuwcwdjuofdcidfaoq.supabase.co/storage/v1/object/public/donor_images/
VITE_SUPABASE_SPONSOR_IMAGES=https://khvuwcwdjuofdcidfaoq.supabase.co/storage/v1/object/public/sponsor-logos/
VITE_WS_URL=http://localhost:8080
