PORT=3000
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=dev123
DB_NAME=valor
DB_PORT=5432
JWT_SECRET=a_very_strong_and_secret_key_for_your_tokens
NODE_ENV=development
EMAIL_USER=iguandeveloper37@gmail.com
EMAIL_PASS=zdjsbwmnfqlewsou
FRONTEND_URL=https://fighter-league-1.onrender.com
BREVO_USER=iguandeveloper37@gmail.com
BREVO_KEY=xsmtpsib-xsmtpsib-a04ddb7ab73e58043af413e1a3f2f546e64e53cabbca4059189a4c19076e6951-6vndjqpTxyNK4DnI111